{{define "header"}}

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#">GApp</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{{.URL}}/emails">
            <i class="fa fa-fw fa-random"></i>
            Emails
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{.URL}}/contacts">
            <i class="fa fa-fw fa-users"></i>
            Contacts
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{.URL}}/syncers">
            <i class="fa fa-fw fa-random"></i>
            Sync
        </a>
      </li>
    </ul>

    <ul class="navbar-nav pull-right">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="userMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{.User.Email}}
        </a>
        <div class="dropdown-menu" aria-labelledby="userMenu">
          <a class="dropdown-item" href="{{.URL}}/logout">Logout</a>
        </div>
      </li>
    </ul>

  </div>
</nav>

{{end}}