{{define "header"}}

<header id="topnav" class="navbar navbar-midnightblue clearfix" role="banner">

    <div class="yamm navbar-left navbar-collapse collapse in">
        <ul class="nav navbar-nav">
            <li>
                <a href="{{.URL}}/syncers" >
                    <span class="icon-bg">
                        <i class="fa fa-fw fa-random"></i>
                        Sync
                    </span>
                </a>
            </li>
            <li>
                <a href="{{.URL}}/emails">
                    <span class="icon-bg">
                        <i class="fa fa-fw fa-envelope"></i>
                        Emails
                    </span>
                </a>
            </li>
            <li>
                <a href="{{.URL}}/contacts" >
                    <span class="icon-bg">
                        <i class="fa fa-fw fa-users"></i>
                        Contacts
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <ul class="nav navbar-nav toolbar pull-right">
        
        <li>
            <a href="#">
                {{.User.Email}}
            </a>
        </li>
        <li>
            <a href="{{.URL}}/logout">Logout</a>
        </li>

    </ul>

</header>

{{end}}