<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Gmail backup</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-touch-fullscreen" content="yes">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700' rel='stylesheet' type='text/css'>
    <link type="text/css" href="{{.URL}}/static/plugins/iCheck/skins/minimal/blue.css" rel="stylesheet">
    <link type="text/css" href="{{.URL}}/static/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link type="text/css" href="{{.URL}}/static/css/styles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries. Placeholdr.js enables the placeholder attribute -->
    <!--[if lt IE 9]>
        <link type="text/css" href="assets/css/ie8.css" rel="stylesheet">
        <script type="text/javascript" src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- The following CSS are included as plugins and can be removed if unused-->
    
    </head>

    <body class="focused-form">

        {{ if .N.HaveNotfications }}

            <div class="col-sm-12">

                {{ range $key, $row := .N.Notifications }}

                    <div class="alert  alert-{{ $row.Type }} alert-dismissible fade show" role="alert">
                        <span class="badge badge-pill badge-{{ $row.Type }}">
                            {{ $row.Title }}
                        </span> 
                        {{ $row.Text }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>

                {{ end }}

            </div>

        {{ end }}



        {{template "content" .}}

    <!-- Load site level scripts -->

    <!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script> -->

    <script type="text/javascript" src="{{.URL}}/static/js/jquery-1.10.2.min.js"></script> 							<!-- Load jQuery -->
    <script type="text/javascript" src="{{.URL}}/static/js/jqueryui-1.9.2.min.js"></script> 							<!-- Load jQueryUI -->

    <script type="text/javascript" src="{{.URL}}/static/js/bootstrap.min.js"></script> 								<!-- Load Bootstrap -->

    <script type="text/javascript" src="{{.URL}}/static/plugins/jstree/dist/jstree.min.js"></script>  				<!-- jsTree -->

    <script type="text/javascript" src="{{.URL}}/static/plugins/codeprettifier/prettify.js"></script> 				<!-- Code Prettifier  -->
    <script type="text/javascript" src="{{.URL}}/static/plugins/bootstrap-switch/bootstrap-switch.js"></script> 		<!-- Swith/Toggle Button -->

    <script type="text/javascript" src="{{.URL}}/static/plugins/bootstrap-tabdrop/js/bootstrap-tabdrop.js"></script>  <!-- Bootstrap Tabdrop -->

    <script type="text/javascript" src="{{.URL}}/static/plugins/iCheck/icheck.min.js"></script>     					<!-- iCheck -->

    <script type="text/javascript" src="{{.URL}}/static/js/enquire.min.js"></script> 									<!-- Enquire for Responsiveness -->

    <script type="text/javascript" src="{{.URL}}/static/plugins/bootbox/bootbox.js"></script>							<!-- Bootbox -->

    <script type="text/javascript" src="{{.URL}}/static/plugins/nanoScroller/js/jquery.nanoscroller.min.js"></script> <!-- nano scroller -->

    <script type="text/javascript" src="{{.URL}}/static/plugins/jquery-mousewheel/jquery.mousewheel.min.js"></script> 	<!-- Mousewheel support needed for jScrollPane -->

    <script type="text/javascript" src="{{.URL}}/static/js/application.js"></script>

    </body>
</html>

