{{define "content"}}

<div class="page-heading">            
    <h1>Inbox</h1>

    <div class="input-group mb-lg col-md-4 pull-right">
        <input type="text" class="form-control" placeholder="Search mail...">
        <span class="input-group-btn">
            <a class="btn btn-primary" href="#"><i class="fa fa-fw fa-search"></i></a>
        </span>
    </div>

</div>

<div class="container-fluid">
                                 
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-inbox">
                <div class="panel-header">

                </div>
				<div class="panel-body">



				</div>
			</div>
		</div>
	</div>

</div> <!-- .container-fluid -->


{{end}}