{{define "content"}}

<div class="page-heading">            
    <h1>{{.Thread.Subject}}</h1>
</div>

<div class="container-fluid">
                                 
	<div class="row">
		<div class="col-md-12">

            {{ range $key, $row := .Messages }}

                <div class="panel">
                    <div class="panel-header p10">

                        <h6>From: {{ $row.From }}</h6>
                        <h6>To:{{ $row.To }}</h6>
                        <h6>Date: {{ $row.EmailDate }}</h6>
                    
                    </div>
                    <div class="panel-body">    

                        {{ $row.HTML }}

                    </div>
                </div>

            {{ end }}

		</div>
	</div>

</div>


{{end}}