{{define "content"}}

{{$url := .URL}}

<div class="page-heading">            
    <h1>
		Gmail | {{.User.Email}} <small>Total: {{.Stats.Count}} threads synced</small>
	</h1>

	<form action="{{$url}}/emails" method="GET" class="form-horizontal">

		<div class="input-group mb-lg col-md-4 pull-right">
			<input name="search" type="text" value="" class="form-control" placeholder="Search mail...">
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-fw fa-search"></i>
				</button>
			</span>
		</div>

	</form>
</div>

<div class="container-fluid">
                                 
	<div class="row">
		<div class="col-md-2">
        
            <div class="inbox-menu">
                <div class="collapsible-menu" style="border-top: 0;">

					{{ range $LabelCat, $Labels := .Labels }}

						<span class="inbox-leftbar-category clearfix">
							<a href="#" class="category-heading" >{{ $LabelCat }}</a>
						</span>

						{{ range $Labels }}

							<a style="text-align: left;"
								href="{{$url}}/emails?label={{ .LabelID }}"
								class="inbox-menu-item label">

								{{ .Name }}
								<span class="badge"> {{ .ThreadsTotal }} </span>
								
							</a>

						{{ end }}

					{{ end }}

                </div>
            </div>
		</div>
		<div class="col-md-10">
        
            <h2>{{.Thread.Subject}}</h2>

            {{ range $key, $row := .Messages }}

                <div class="panel">
                    <div class="panel-header p10">

                        <h6>From: {{ $row.From }}</h6>
                        <h6>To:{{ $row.To }}</h6>
                        <h6>Date: {{ $row.EmailDate }}</h6>
                    
                    </div>

                    {{if $row.Attachments}}

                        <div class="panel-header p10">
                        
                        {{ range $akey, $arow := $row.Attachments }}

                            <a href="{{$url}}/attachment/{{ $arow.AttacID }}">{{ $arow.Name }} </a>

                        {{ end }}

                        </div>

                    {{end}}
                    
                    <div class="panel-body">    

                        {{if $row.HTML}}

                            {{ $row.HTML }}

                        {{else if $row.Text}}

                            <pre>
                                {{ $row.Text }}
                            </pre>

                        {{else if $row.Snippet}}

                            <p>
                                {{ $row.Snippet }}
                            </p>

                        {{end}}
                        
                    </div>
                </div>

            {{ end }}

		</div>
	</div>

</div>


{{end}}