{{define "content"}}

{{template "header" .}}

{{$url := .URL}}

<div class="page-heading">     
       
    <h1>Email</h1>

	<form 
        action="{{$url}}/emails" 
        method="GET" 
        class="form-horizontal"
    >

		<div class="input-group mb-lg col-md-4 pull-right">
			<input 
                name="search" 
                type="text" 
                value="" 
                class="form-control" 
                placeholder="Search mail..."
            >
			<span class="input-group-btn">
				<button type="submit" class="btn btn-primary">
					<i class="fa fa-fw fa-search"></i>
				</button>
			</span>
		</div>

	</form>
</div>

<div class="container-fluid">
                                 
	<div class="row">
		<div class="col-md-2">
        
            <div class="inbox-menu">
                <div class="collapsible-menu" style="border-top: 0;">

					{{ range $LabelCat, $Labels := .Labels }}

						<span class="inbox-leftbar-category clearfix">
							<a href="#" class="category-heading" >
                                {{ $LabelCat }}
                            </a>
						</span>

						{{ range $Labels }}

							<a 
                                style="text-align: left;"
								href="{{$url}}/emails?label={{ .LabelID }}"
								class="inbox-menu-item label"
                            >

								{{ .Name }}

								<span class="badge"> 
                                    {{ .ThreadsTotal }} 
                                </span>
								
							</a>

						{{ end }}

					{{ end }}

                </div>
            </div>
		</div>
		<div class="col-md-10">

            <div class="panel panel-inbox-read">

				<div class="panel-body">
					<div class="inbox-read-heading">
						<div class="clearfix">
							<div class="pull-left">
						        <a 
                                    href="" 
                                    onclick="window.history.back();return false;" 
                                    class="btn btn-default"
                                >
                                    <i class="fa fa-fw fa-level-up fa-rotate-270"></i>
                                </a>
						    </div>
						    <div class="pull-right">
						    	
						    </div>
						</div>
					</div>

					<div class="clearfix">
						<h3 class="inbox-read-title pull-left">
                            {{.Thread.Subject}}
                        </h3>
					</div>

                    {{ range $key, $row := .Messages }}

                        <hr class="mb-md">

                        <div class="inbox-read-details clearfix">
                            <div class="pull-left">
                                <span class="inbox-read-sender-name pull-left">
                                    {{ $row.From }}
                                </span>
                            </div>
                            <div class="pull-right">
                                <span class="inbox-read-sent-info">

                                    to <strong>{{ $row.To }}</strong>, 
                                    on 
                                    <em>
                                        {{ $row.Hours }}:{{ $row.Minutes }}
                                        <small>{{ $row.Day }}.{{ $row.Month }}.{{ $row.Year }}</small>
                                    </em>

                                </span>
                            </div>
                        </div>

                        <hr class="mt-md">

                        <div class="msg-body">
                            
                            {{if $row.HTML}}

                                {{ $row.HTML }}

                            {{else if $row.Text}}

                                <pre>
                                    {{ $row.Text }}
                                </pre>

                            {{else if $row.Snippet}}

                                <p>
                                    {{ $row.Snippet }}
                                </p>

                            {{end}}

                        </div>
                        <hr>

                        {{if $row.Attachments}}

                            <p class="mb20">Attachments</p>
                            <div class="msg-attachments row">
                            
                            {{ range $akey, $arow := $row.Attachments }}


                                <div class="col-md-3">
                                    <a href="{{$url}}/attachment/{{ $arow.AttacID }}">
                                    <div class="well well-sm p10">
                                        <strong>{{ $arow.Name }}</strong>
                                    </div>
                                    </a>
                                </div>

                            {{ end }}

                            </div>

                        {{end}}

                    {{ end }}

				</div>
			</div>

		</div>
	</div>

</div>


{{end}}