{{define "content"}}

{{template "header" .}}



<div class="d-flex flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 border-bottom">
	<div class="col-md-6">
		<h6 class="p-1">
			<span class="p-2">Syncers</span>
		</h6>

	</div>
</div>


{{if not .User.Token}}

<div class="container-fluid">
								
	<div class="row">

		<div class="col-md-3"></div>

		<div class="col-md-6">

			<form action="" method="POST" enctype="multipart/form-data">

				<div class="form-group">
					<label>JSON Credentials</label>
					<div class="input-group">
						<span class="input-group-addon">
							<i class="fa fa-file-code-o"></i>
						</span>
						<input 
							name="credentials" 
							type="file" 
							class="form-control" 
							placeholder="Credentials"
						>
						<span class="input-group-addon">
							<input 
								type="submit" 
								name="cred" 
								value="Save" 
								class="btn btn-primary pull-right"
							>
						</span>
					</div>
				</div>

			</form>

		</div>

		<div class="col-md-3"></div>
	</div>

</div>

{{end}}


{{if .User.Token}}

<div class="container-fluid">
                                 
	<div class="row">

		<nav class="col-md-2 d-none d-md-block bg-light sidebar">
			<div class="sidebar-sticky">

			<h4 class="border-bottom pt-2 pb-2">
				
				<form action="" method="POST" class="form-horizontal">
					<input type="submit" name="contacts" value="Sync contacts" class="btn btn-primary ">
				</form>

			</h4>

			<h4 class="border-bottom pt-2 pb-2">
				
				<form action="" method="POST" class="form-horizontal">
					<input type="submit" name="labels" value="Sync labels" class="btn btn-danger ">
				</form>

			</h4>

			<h4 class="border-bottom pt-2 pb-2">
				
				New gmail sync query

			</h4>

			<ul class="nav flex-column mb-2">

				<li class="nav-item">
					<form action="" method="POST" class="form-horizontal">
						<div class="form-group">
							<input 
								type="query" 
								name="query" 
								class="form-control" 
								placeholder="Query" 
							>
						</div>
						<input type="submit" name="gmail" value="Start" class="btn btn-primary pull-right">
					</form>
				</li>

			</ul>

		</nav>
		<div class="col-md-10">
			<table class="table table-striped table-hover">

				<thead>
				
					<tr>
						<th>Query</th>
						<th>Start</th>
						<th>End</th>
						<th>Count</th>
					</tr>

				</thead>
				<tbody>

					{{ range $key, $row := .Syncers }}

						<tr>
							<td>{{ $row.Query }}</td>
							<td>{{ $row.Start }}</td>
							<td>{{ $row.End }}</td>
							<td>{{ $row.Count }}</td>
						</tr>	

					{{ end }}

				</tbody>
			</table>
		</div>
	</div>

</div> <!-- .container-fluid -->

{{end}}

{{end}}
















        
        

    
    
